extends layout
block content
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
            p #{Date1}
            p #{Date2}
            p #{Dates}
            p #{obj.BID} #{obj.Computername} #{obj.SID}
             each el in test
                 p #{el.CreatedAt} #{el.Value}
            .form-group
                #container(style='min-width: 200px; height: 200px; margin: 0 auto')
                        script(type='text/javascript').
                            $(function () {
                                        $('#container').highcharts({
                                            title: {
                                                text: 'Graphic Sensor',
                                                x: -20 //center
                                            },
                                            subtitle: {
                                                text: '',
                                                x: -20
                                            },
                                            xAxis: {
                                                categories: ['#{Dates}']
                                            },
                                            yAxis: {
                                                title: {
                                                    text: 'Temperature (°C)'
                                                },
                                                plotLines: [{
                                                    value: 0,
                                                    width: 1,
                                                    color: '#808080'
                                                }]
                                            },
                                            tooltip: {
                                                valueSuffix: '°C'
                                            },
                                            legend: {
                                                layout: 'vertical',
                                                align: 'right',
                                                verticalAlign: 'middle',
                                                borderWidth: 0
                                            },
                                            series: [{
                                                name: '#{obj.SID}',
                                                data: [17, 11, 9, 12]
                                            },
                                            ]
                                        });
                                        });