extends layout
block content
            .form-group
                #container(style='min-width: 200px; height: 700px; margin: 0 auto')
                        script(type='text/javascript').
                            console.log('Dates: --------------------')
                            console.dir('#{Dates}'.split(','))
                            console.log('Valeurs: --------------------')
                            console.dir('#{Values}'.split(',').map(Number))
                            
                            var test3 = '#{structuredValues[0].data}'
                            console.log('structuredValues: --------------------')
                            console.dir(test3)
                            
                            var test = {
                                                name: '#{structuredValues[0].title}',
                                                data: '#{structuredValues[0].values}'.split(',').map(Number)
                                            }

                            var test2 = {
                                                name: '#{structuredValues[1].title}',
                                                data: '#{structuredValues[1].values}'.split(',').map(Number)
                                            }
                            $(function () {
                                        $('#container').highcharts({
                                            title: {
                                                text: 'Graphic Sensor'
                                            },
                                            subtitle: {
                                                text: ''
                                            },
                                            xAxis: {
                                                categories: '#{Dates}'.split(',')
                                            },
                                            yAxis: {
                                                title: {
                                                    text: 'Temperature (°C)'
                                                },
                                                plotLines: [{
                                                    value: 0,
                                                    width: 1,
                                                    color: '#808080'
                                                }]
                                            },
                                            tooltip: {
                                                valueSuffix: '°C'
                                            },
                                            legend: {
                                                layout: 'vertical',
                                                align: 'right',
                                                verticalAlign: 'middle',
                                                borderWidth: 0
                                            },
                                            series: [test,test2,]
                                        });
                                        });