extends layout
block content
  h1  Seléction de(s) capteur(s)
  br 
  form(id='Form1', method='get', action='graph')
    select(id = 'selectSensor', style="display : none")
      each el in title
        option #{el.Computername}, #{el.SID}, #{el.BID}
    .col-md-2
      .form-group
        #datetimepicker1.input-group.date
          input.form-control(type='text', name='datetimepicker1')
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
    .col-md-2
      .form-group
        #datetimepicker2.input-group.date
          input.form-control(type='text', name='datetimepicker2')
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
      script(type='text/javascript').
        $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker({
        useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker1").on("dp.change", function (e) {
        $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
        $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
            });
      //
        .col-md-2
          .form-group
            #container.col
              input#myAutocomplete.form-control(type='text')
              script(type='text/javascript').
                $(function(){
                  var Test = document.getElementById('selectSensor');
                  var availableTags = [];
                  for (var i=0; i < Test.length; i++){
                    availableTags[i] = Test[i]
                  }
                  $('#myAutocomplete').autocomplete({
                  source: availableTags,
                  multiselect: true
                  });
                  })
    .col-md-2
      .form-group
          <select id="example-enableFiltering-includeSelectAllOption", name='list' style="display : none", multiselect>
              each el in title
                option(value=el) #{el.Computername}, #{el.SID}, #{el.BID}
          </select>
          script(type='text/javascript').
              $(document).ready(function() {
              $('#example-enableFiltering-includeSelectAllOption').multiselect({
              includeSelectAllOption: true,
              enableFiltering: true
              });
              });


    .col-md-1
      .form-group      
        input.form-control(type='submit', name='Submit', value='Suivant')        
          
    

  
      